<div class="container">
	<h2 class="form-signin-heading">Add a new product</h2>

	<form action="/product/create" method="POST">
		
		<div class="control-group">
			<input type="text" class="form-control" placeholder="product name" name="name">
		</div>

		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Product"/>
	</form>
</div>

<script type="text/javascript">
	
</script>