@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: url("Montserrat/Montserrat-Thin.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: url("Montserrat/Montserrat-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url("Montserrat/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("Montserrat/Montserrat-Medium.otf.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url("Montserrat/Montserrat-Regular.otf.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url("Montserrat/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("Montserrat/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 800;
  src: url("Montserrat/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 900;
  src: url("Montserrat/Montserrat-Black.otf") format("opentype");
}

#chatFenetre {
  font: 12px Montserrat, sans-serif;

  padding: 0px;
  color: #4C4149;
  background-color: #f2f2f2;
  font-size: 15px;

  position: fixed;
  width: 400px;
  height: 90%;
  z-index: 900;

  right: 10px;
  bottom: 10px;

  border-color: #979797;
  border-width: 2px;
  border-style: solid;
}

#nameDiv {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;

  background-color: #6c89a0;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.titleAssistantPicture {
  float: left;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px;
  margin-bottom: 9px;
}

#assistantLegend {
  color: white;
  text-align: left;
}

.assistantName {
  float: left;
  margin: 0px;
  margin-left: 3px;
  margin-top: 18px;

  font-size: 18px;
  line-height: 1;
  font-weight: normal;
}

thin {
  margin: 0px;
  font-weight: 200;
  font-size: 12px;
}

strong {
  font-style: bold;
  font-size: 18px;
}

.reduce {
  float: right;
  margin-top: 28px;
  margin-right: 10px;
  margin-bottom: 28px;
}

.reducerButton {
  border: 1px solid #979797;
  margin-left: 5px;
  border-radius: 10px;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  color: white;
  font-weight: 200;
  background-color: rgba(0,0,0,0);

  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

.logo {
  padding-top: 5px;
  padding-bottom: 0px;
  vertical-align: bottom;
  padding-left: 7px;
  padding-right: 7px;
}

#conversation {
  position: absolute;
  top: 81px;
  bottom: 66px;
  overflow: auto;
  width: 100%;
}

#inputArea {
  z-index: 999;
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0.9;

  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  height: 70px;
  margin: 0px;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 5px 0 rgba(0, 0, 0, 0.12), 0 -3px 1px -2px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
}

#message, .messageSubmit{
  display: inline-block;
  margin: 10px;
  height: 50px;
}

#message {
  width: 280px;
  margin-right: 0px;
  font-size: 19px;
  overflow: auto;
}

.mainComent {
  font-weight: 200;
}

.mainAuthor {
  font-weight: normal;
  font-size: 18px;
}

.messageSubmit{
  width: 80px;
  background-color: #c93a2c;
  color: white;
  border-style: none;
  font-size: 20px;
}

.msg {
  display: block;
  margin: 10px;
  text-align: left;

  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: #979797;

  box-shadow: 0px 2px 5px grey;
}

.userCorpus, .serverCorpus {
  background-color: #8faecd;
  color: #fefefe;
  overflow-y: auto;
  overflow-x: hidden;
}

.serverCorpus {
  background-color: #fff;
  color: #5e575d;
}

.chatProfilPicture {
  float: left;
  margin-top: 10px;
  margin-left: 10px;

  border-radius: 50%;
  height: 40px;
  width: 40px;
}

dt {
  display: inline-block;
  margin-top: 18px;
  margin-left: 10px;
  margin-bottom: 12px;
  width: 120px;
  color: #b2332a;

}

.userCorpus > dt {
  color: #fefefe;
}

dd, tagada, .mainComent {
  position: static;
  display: inline-block;
  margin-left: 58px;
  padding-right: 5px;
  margin-bottom: 10px;
  width: 321px;
}

.serverCorpus > dd {

}

.proposition {
  overflow: auto;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

#chatBtn {
  display: inline-block;

}

#chatImg {

}

#chatImg:hover {
  opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 950; /* Sit on top */
    left: 0;
    top: 0;
    padding: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;  /*Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* #4C4149 w/ opacity */
}

#modalContent {
  position: static;
  margin: auto;
  margin-top: 5%; 
  height: 80%;
  width: 70%;

  background-color: white;
}

#modalContent a {
  color: #4C4149;
}

#modalContent a:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 3px; 
}

.west {
  float: left;
  width: 50%;
  overflow: hidden;
}

.east {
  float: right;
  width: 50%;
  height: 100%;
  overflow: hidden;

  text-align: left;
}

.modalImage {
  display: block;
  margin: auto;
  margin-top: 25px;
  width: 70%;
  height: auto;
}

#comentIndicator {
  display: block;
  position: static;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: -40px;
  height: 40px;
  padding-top: 17px;

  background: rgba(255, 255, 255, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1)); /* Standard syntax */

  border-radius: 5px;
  color: grey;
  overflow: scroll;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2px;
  color: #4C4149;
  margin-right: 20px;
}

#coment p {
  font-size: 12px;
  font-weight: normal;

}

#coment {
  position: static;
  display: block;
  height: 100px;
  width: 90%;

  margin: auto;
  margin-top: 20px;
  padding-bottom: 28px;

  overflow: auto;
  text-overflow: ellipsis;

  text-align: left;
  background-color: white;
  color: #4C4149;

  /*background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

  -webkit-transition-property: height; /* Safari */
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-property: height;
  transition-duration: 0.5s;
}

h2 {
  font-size: 16px;
  font-weight: 700;

  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 10px;

  text-align: left;
  color: #4C4149;
}

strong {
  font-size: 14px;
  font-weight: 400;
}

#caption h2 {
  font-size: 18px;
  margin-top: 50px;
  text-transform: uppercase;
}

#tags, #price {
  text-transform: capitalize;

  margin-top: 10px;
  margin-bottom: 10px;
  color: #4C4149;
  font-size: 14px;
}

#caption #tags {
  margin-top: 0;
  margin-bottom: 3px;
  color: grey;
  font-size: 12px;
}

quote {
  margin-top: 10px;
  font-size: 14px;
  margin-right: 20px;
  color: #4C4149;
}

#colorTitle {
  display: block;
  margin-bottom: 0px;
}

#price {
  margin-top: 30px;
  font-size: 20px;
}

#selector, #selected {
  vertical-align: top;
  display: inline-block;
  overflow: auto;

  height: 80px;
  margin: 3px;
  margin-top: 3px;
  width: 75%;
}

#selected {
  width: 20%;
  max-width: 80px;
}

#colorName {
  margin-left: 3px;
  font-size: 10px;
  color: grey;
}

.imgSample {
  cursor: pointer;
  margin: 3px;
  width: 35px;
  height: auto;
}

.close {
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 20px;

  width: 50px;
  height: 50px;
  padding-top: 10px;
  border-radius: 3px;

  color: white;
  font-size: 30px;
  font-weight: 200;
  transition: 0.6s ease;
}

.close:hover {
  background-color: rgba(0,0,0,0.8);  
}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 0px;
  top: 50%;
  width: 50px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: 200;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.chatImgDiv {
  max-width: 40%;
  margin-left: 5px;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
}

.imgName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.colorCorpus {
  overflow-x: auto;
  white-space: nowrap;
}

.colorSample {
  display: inline-block;
  border-radius: 5px;
  width: 100px;
  height: 50px; 
}

.circle {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  right: 50px;


  width: 64px;
  height: 64px;

  text-align: center;

  color: white;
  border-radius: 50%;
  background: red;

  border-width: 2px;
  border-style: solid;
  border-color: white;

  line-height: 64px;
}

#uniqueBtn {
  color: white;
  float: right;
}

.hidden {
  display: none;
}

#buttonSnap {
  display: block;
}

.apercu {
  display: block;
  width: 80%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  max-height: 75%;
  padding: 5px;
  background-color: grey;
}











